<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "nueva_aplicacion.keystore"
        versionCode = "10" 
        version     = "1.0.0" >


    <name>Nueva aplicacion</name>
	<gap:platform name="ios" />
	<gap:platform name="android" />
	<gap:platform name="winphone" />
    	<preference name="permissions" value="none" />
	<icon src="ZUMO.jpg" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="splash.png" gap:platform="android" gap:qualifier="ldpi" />
	<gap:splash src="splash.png" gap:platform="android" gap:qualifier="mdpi" />
	<gap:splash src="splash.png" gap:platform="android" gap:qualifier="hdpi" />
	<gap:splash src="splash.png" gap:platform="android" gap:qualifier="xhdpi" />
	<gap:splash src="splash.png" gap:platform="android" gap:qualifier="fr-xhdpi" />
	<gap:splash src="splash.png" gap:platform="android" gap:qualifier="port-xxhdpi" />
	<gap:splash src="splash.png" gap:platform="android" gap:qualifier="land-xxhdpi" />
	<icon src="ZUMO.jpg" gap:platform="ios" width="60" height="60" />
	<gap:splash src="splash.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="splash.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="splash.png" gap:platform="ios" width="640" height="960" />
	<gap:splash src="splash.png" gap:platform="ios" width="640" height="1136" />
	<gap:splash src="splash.png" gap:platform="ios" width="768" height="1024" />
	<gap:splash src="splash.png" gap:platform="ios" width="1024" height="768" />
	<gap:splash src="splash.png" gap:platform="ios" width="1536" height="2048" />
	<gap:splash src="splash.png" gap:platform="ios" width="2048" height="1536" />
	<icon src="ZUMO.jpg" gap:platform="winphone" />
	<gap:splash src="splash.jpg" gap:platform="winphone" />
    <description>
        Nueva aplicacion 
    </description>

    <author href="http://www.starsoft.com.pe" email="moises_moreno007@hotmail.com">
        Moisés Moreno Usnayo
    </author>

</widget>
